<p>home works!</p>
<nav>
  <a *ngIf="role==='user'" routerLink="/post-list" routerLinkActive="active">Post List</a>
  <a *ngIf="role==='admin'" routerLink="/user-list" routerLinkActive="active">User List</a>
  <a *ngIf="role==='user'" routerLink="/create-post" routerLinkActive="active">Create Post</a>
  <a *ngIf="role==='admin'" routerLink="/create-user" routerLinkActive="active">Create User</a>
  <a [routerLink]="['/user',userId]">My Profile</a>
  <button (click)="logOutUser()">Logout</button>
</nav>